html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
  clear: both;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
ol {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}
